html {
	position: relative;
	min-height: 100%;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: 60px;
	height: 60px;	
	text-align: center;
}

.clearfix {
	align-self: center;
	margin-left: 10%;
	margin-bottom: 5%;
}